<html>

<head>
    <script src="timepicker.js"></script>
</head>

<body ng-controller="CreateGroupController">
    <div class="container-fluid">
        <ul class="nav justify-content-end mb-3">
            <li class="nav-item">
                <a class="nav-link" href="#/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/user">{{role}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/noti">Notificaton <span ng-if="newNotification.length>0"
                        class="badge badge-pill badge-danger"> {{newNotification.length}}</span></a>
            </li>
            <li class="nav-item">
                <a class="btn"><span ng-click="logout()">Logout</span></a>
            </li>
        </ul>
        <h1 class="text-center mb-4">Create Group</h1>
        <div class="card">
            <div class="card-header">Group information</div>
            <div class="card-body">
                <form id="createGroupForm" name="createGroupForm" novalidate>
                    <div class="form-group row">
                        <label for="title" class="col-sm-2 col-form-label">Group Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="title" class="form-control" placeholder="Enter group title"
                                id="title" ng-model="userInput.title"
                                ng-class="{ 'is-invalid' : createGroupForm.title.$invalid && createGroupForm.title.$touched }"
                                required>
                            <span class="invalid-feedback"
                                ng-show="createGroupForm.title.$invalid && createGroupForm.title.$touched"
                                class="help-block">
                                Please enter this field</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="location" class="col-sm-2 col-form-label">Location</label>
                        <div class="col-sm-10">
                            <select name="location" class="form-control" id="location" ng-model="userInput.location"
                                ng-class="{ 'is-invalid' : createGroupForm.location.$invalid && createGroupForm.location.$touched }"
                                required>
                                <option value="{{district}}" ng-repeat="district in districtList">{{district}}
                                </option>
                            </select>
                            <span class="invalid-feedback"
                                ng-show="createGroupForm.location.$invalid && createGroupForm.location.$touched"
                                class="help-block">
                                Please enter this field</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="category" class="col-sm-2 col-form-label">Category</label>
                        <div class="col-sm-10">
                            <select name="category" class="form-control" id="category" ng-model="categorySelected"
                                ng-change="changeList()"
                                ng-class="{ 'is-invalid' : createGroupForm.category.$invalid && createGroupForm.category.$touched }"
                                required>
                                <option value="{{category}}" ng-repeat="category in categoryList">{{category}}
                                </option>
                            </select>
                            <span class="invalid-feedback"
                                ng-show="createGroupForm.category.$invalid && createGroupForm.category.$touched"
                                class="help-block">
                                Please enter this field</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="course" class="col-sm-2 col-form-label">Course</label>
                        <div class="col-sm-10">
                            <select name="course" class="form-control" id="course" ng-if="displayCourseList.length!=0"
                                ng-model="userInput.courseObj" ng-change="changeLevelList()"
                                ng-class="{ 'is-invalid' : createGroupForm.course.$invalid && createGroupForm.course.$touched }"
                                required>
                                <option value="{{course}}" ng-repeat="course in displayCourseList">{{course.name}}
                                </option>
                            </select>
                            <input ng-if="displayCourseList.length==0 && categorySelected != 'Others'"
                                class="form-control" type="text" placeholder="No related courses available now"
                                readonly>
                            <input name="course2" id="course2"
                                ng-if="displayCourseList.length==0 && categorySelected == 'Others'" class="form-control"
                                type="text" ng-model="userInput.customCourse"
                                ng-class="{ 'is-invalid' : userInput.customCourse.length==0 && createGroupForm.course2.$touched }"
                                placeholder="Input your course here">
                            <span class="invalid-feedback"
                                ng-show="(createGroupForm.course.$invalid && createGroupForm.course.$touched) || (userInput.customCourse.length==0 && createGroupForm.course2.$touched)"
                                class="help-block">
                                Please enter this field</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="level" class="col-sm-2 col-form-label">Level</label>
                        <div class="col-sm-10">
                            <select name="level" class="form-control" id="level" ng-if="displayLevelList.length!=0"
                                ng-model="userInput.level"
                                ng-class="{ 'is-invalid' : createGroupForm.level.$invalid && createGroupForm.level.$touched }"
                                required>
                                <option value="{{level}}" ng-repeat="level in displayLevelList">{{level}}</option>
                            </select>
                            <input ng-if="displayLevelList.length==0" class="form-control" type="text"
                                placeholder="Choose a course first" readonly>
                            <span class="invalid-feedback"
                                ng-show="createGroupForm.level.$invalid && createGroupForm.level.$touched"
                                class="help-block">
                                Please enter this field</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="repeatBy" class="col-sm-2 col-form-label">Repeat by</label>
                        <div class="col-sm-10">
                            <select name="repeatBy" class="form-control" id="repeatBy" ng-model="userInput.repeatBy"
                                ng-class="{ 'is-invalid' : createGroupForm.repeatBy.$invalid && createGroupForm.repeatBy.$touched }"
                                required>
                                <option value="{{period}}" ng-repeat="period in repeatPeriod">{{period}}
                                </option>
                            </select>
                            <span class="invalid-feedback"
                                ng-show="createGroupForm.repeatBy.$invalid && createGroupForm.repeatBy.$touched"
                                class="help-block">
                                Please enter this field</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="durationHr" class="col-sm-2 col-form-label">Duration</label>
                        <div class="col-sm-10 form-inline">
                            <div class="col-sm-6 p-0">
                                <input style="width: inherit" name="durationHr" class="form-control" type="number"
                                    min="0" max="12" placeholder="Hour" ng-model="userInput.durationHr"
                                    ng-class="{ 'is-invalid' : createGroupForm.durationHr.$invalid && createGroupForm.durationHr.$touched }"
                                    required>
                                <span class="invalid-feedback"
                                    ng-show="createGroupForm.durationHr.$invalid && createGroupForm.durationHr.$touched"
                                    class="help-block">
                                    Please enter a value from 0 to 12</span>
                            </div>
                            <div class="col-sm-6 p-0">
                                <input style="width: inherit" name="durationMin" class="form-control" type="number"
                                    min="0" max="59" placeholder="Minutes" ng-model="userInput.durationMin"
                                    ng-class="{ 'is-invalid' : createGroupForm.durationMin.$invalid && createGroupForm.durationMin.$touched }"
                                    required>
                                <span class="invalid-feedback"
                                    ng-show="createGroupForm.durationHr.$invalid && createGroupForm.durationHr.$touched"
                                    class="help-block">
                                    Please enter a value from 0 to 59</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="minParti" class="col-sm-2 col-form-label">Min. participant</label>
                        <div class="col-sm-10">
                            <input type="number" name="minParti" class="form-control"
                                placeholder="Enter minimum number of participant" id="title"
                                ng-model="userInput.minParticipant"
                                ng-class="{ 'is-invalid' : createGroupForm.minParti.$invalid && createGroupForm.minParti.$touched }"
                                min="1" max="99" required>
                            <span class="invalid-feedback"
                                ng-show="createGroupForm.minParti.$invalid && createGroupForm.minParti.$touched"
                                class="help-block">
                                Please enter a value larger than 0 and smaller than or equal to max. participant</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="maxParti" class="col-sm-2 col-form-label">Max. participant</label>
                        <div class="col-sm-10">
                            <input type="number" name="maxParti" class="form-control"
                                placeholder="Enter maximum number of participant" id="title"
                                ng-model="userInput.maxParticipant"
                                ng-class="{ 'is-invalid' : createGroupForm.maxParti.$invalid && createGroupForm.maxParti.$touched }"
                                min="1" max="99" required>
                            <span class="invalid-feedback"
                                ng-show="createGroupForm.maxParti.$invalid && createGroupForm.maxParti.$touched"
                                class="help-block">
                                Please enter a value larger than 0 and larger than or equal to min. participant</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="maxParti" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <textarea rows="6" type="text" name="content" class="form-control"
                                placeholder="Enter description of the group" id="title" ng-model="userInput.content"
                                ng-class="{ 'is-invalid' : createGroupForm.content.$invalid && createGroupForm.content.$touched }"
                                minlength="1" required noresize></textarea>
                            <span class="invalid-feedback"
                                ng-show="createGroupForm.content.$invalid && createGroupForm.content.$touched"
                                class="help-block">
                                Please enter a value larger than 0 and larger than or equal to min. participant</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header">Availability</div>
            <div class="card-body">
                <p>Please state your best availability for each weekday. Leave it blank if you are not available the
                    whole day.</p>
                <form id="createGroupForm2" name="createGroupForm2" novalidate>
                    <div class="form-group row">
                        <label for="availabilityMon" class="col-sm-2 col-form-label">Monday</label>
                        <div class="col-sm-10">
                            <div id="datetimepickerDate" class="input-group timerange">
                                <input name="availabilityMon" ng-model="availabilityMon" id="availabilityMon"
                                    class="form-control" type="text" ng-blur="availabilityChange()"
                                    ng-class="{ 'is-invalid' : createGroupForm2.availabilityMon.$invalid && createGroupForm2.availabilityMon.$touched }">
                                <span class="input-group-text" style="">
                                    <i aria-hidden="true" class="fa fa-calendar"></i>
                                </span>
                                <span class="invalid-feedback"
                                    ng-show="createGroupForm2.availabilityMon.$invalid && createGroupForm2.availabilityMon.$touched"
                                    class="help-block">Ending
                                    time should be later than starting time</span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="availabilityTues" class="col-sm-2 col-form-label">Tuesday</label>
                        <div class="col-sm-10">
                            <div id="datetimepickerDate" class="input-group timerange">
                                <input name="availabilityTues" ng-model="availabilityTues" class="form-control"
                                    type="text" ng-blur="availabilityChange()"
                                    ng-class="{ 'is-invalid' : createGroupForm2.availabilityTues.$invalid && createGroupForm2.availabilityTues.$touched }">
                                <span class="input-group-text" style="">
                                    <i aria-hidden="true" class="fa fa-calendar"></i>
                                </span>
                                <span class="invalid-feedback"
                                    ng-show="createGroupForm2.availabilityTues.$invalid && createGroupForm2.availabilityTues.$touched"
                                    class="help-block">Ending
                                    time should be later than starting time</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="availabilityWed" class="col-sm-2 col-form-label">Wednesday</label>
                        <div class="col-sm-10">
                            <div id="datetimepickerDate" class="input-group timerange">
                                <input name="availabilityWed" class="form-control" type="text"
                                    ng-model="availabilityWed" ng-blur="availabilityChange()"
                                    ng-class="{ 'is-invalid' : createGroupForm2.availabilityWed.$invalid && createGroupForm2.availabilityWed.$touched }">
                                <span class="input-group-text" style="">
                                    <i aria-hidden="true" class="fa fa-calendar"></i>
                                </span>
                                <span class="invalid-feedback"
                                    ng-show="createGroupForm2.availabilityWed.$invalid && createGroupForm2.availabilityWed.$touched"
                                    class="help-block">Ending
                                    time should be later than starting time</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="availabilityThurs" class="col-sm-2 col-form-label">Thursday</label>
                        <div class="col-sm-10">
                            <div id="datetimepickerDate" class="input-group timerange">
                                <input name="availabilityThurs" class="form-control" type="text"
                                    ng-model="availabilityThurs" ng-blur="availabilityChange()"
                                    ng-class="{ 'is-invalid' : createGroupForm2.availabilityThurs.$invalid && createGroupForm2.availabilityThurs.$touched }">
                                <span class="input-group-text" style="">
                                    <i aria-hidden="true" class="fa fa-calendar"></i>
                                </span>
                                <span class="invalid-feedback"
                                    ng-show="createGroupForm2.availabilityThurs.$invalid && createGroupForm2.availabilityThurs.$touched"
                                    class="help-block">Ending
                                    time should be later than starting time</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="availabilityFri" class="col-sm-2 col-form-label">Friday</label>
                        <div class="col-sm-10">
                            <div id="datetimepickerDate" class="input-group timerange">
                                <input name="availabilityFri" class="form-control" type="text"
                                    ng-model="availabilityFri" ng-blur="availabilityChange()"
                                    ng-class="{ 'is-invalid' : createGroupForm2.availabilityFri.$invalid && createGroupForm2.availabilityFri.$touched }">
                                <span class="input-group-text" style="">
                                    <i aria-hidden="true" class="fa fa-calendar"></i>
                                </span>
                                <span class="invalid-feedback"
                                    ng-show="createGroupForm2.availabilityFri.$invalid && createGroupForm2.availabilityFri.$touched"
                                    class="help-block">Ending
                                    time should be later than starting time</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="availabilitySat" class="col-sm-2 col-form-label">Saturday</label>
                        <div class="col-sm-10">
                            <div id="datetimepickerDate" class="input-group timerange">
                                <input name="availabilitySat" ng-model="availabilitySat" class="form-control"
                                    type="text" ng-blur="availabilityChange()"
                                    ng-class="{ 'is-invalid' : createGroupForm2.availabilitySat.$invalid && createGroupForm2.availabilitySat.$touched }">
                                <span class="input-group-text" style="">
                                    <i aria-hidden="true" class="fa fa-calendar"></i>
                                </span>
                                <span class="invalid-feedback"
                                    ng-show="createGroupForm2.availabilitySat.$invalid && createGroupForm2.availabilitySat.$touched"
                                    class="help-block">Ending
                                    time should be later than starting time</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="availabilitySun" class="col-sm-2 col-form-label">Sunday</label>
                        <div class="col-sm-10">
                            <div id="datetimepickerDate" class="input-group timerange">
                                <input name="availabilitySun" class="form-control" ng-model="availabilitySun"
                                    type="text" ng-blur="availabilityChange()"
                                    ng-class="{ 'is-invalid' : createGroupForm2.availabilitySun.$invalid && createGroupForm2.availabilitySun.$touched }">
                                <span class="input-group-text" style="">
                                    <i aria-hidden="true" class="fa fa-calendar"></i>
                                </span>
                                <span class="invalid-feedback"
                                    ng-show="createGroupForm2.availabilitySun.$invalid && createGroupForm2.availabilitySun.$touched"
                                    class="help-block">Ending
                                    time should be later than starting time</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="mt-3 mb-3">
            <button class="btn btn-dark btn-block" ng-click="submitForm()" type="button" style="color: white"
                ng-disabled="!haveAvailability">Submit</button></div>
    </div>
</body>

</html>