<html>

<head>
</head>

<body>
    <div class="container-fluid">
        <ul class="nav justify-content-end  mb-3">
            <li class="nav-item">
                <a class="nav-link disabled">{{role}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/signup">Sign Up</a>
            </li>
        </ul>
        <h1 class="text-center">Login</h1>
        <form id="loginForm">
            <div class="form-group row">
                <label for="username" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" name="acc" class="form-control" placeholder="Enter username" id="username"
                        [(ngModel)]="username">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" name="pwd" class="form-control" id="password" placeholder="Enter password"
                        [(ngModel)]="pwd">
                </div>
            </div>
            <button class="btn btn-dark btn-block" ng-click="submitForm('student')" style="color: white">Sign in as
                student</button>
            <button class="btn btn-outline-dark btn-block" ng-click="submitForm('tutor')">Sign in
                as
                tutor</button>
        </form>
    </div>
</body>

</html>